* {
    box-sizing: border-box;
}

body {
    background-color: #f7f9fc !important;
}

.App {
    /* margin: 1rem; */
    font-family: Arial, Helvetica, sans-serif;
}

/* .analytics-table, .analytics-table th, .analytics-table td {
    border: 1px solid black;
} */

.analytics-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

._right-button {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.chatbot-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

@keyframes show-chat-button {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.chatbot-open-btn {
    border: none;
    opacity: 0;
    border-radius: 70px;
    padding: 15px;
    background: rgba(37, 148, 240, 0.9);
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    animation-name: show-chat-button;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.chatbot-open-btn:hover {
    transition: all 0.3s ease;
    background: rgb(37, 148, 240);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

@keyframes expand-chat-window {
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 300px;
        height: 388px;
    }
}

.chatbot-container.open {
    padding: 10px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    overflow: hidden;
    width: 300px;
    background-color: white;
    animation-name: expand-chat-window;
    animation-duration: 0.2s;
    animation-timing-function: linear;
}

@keyframes collapse-chat-window {
    from {
        width: 300px;
        height: 388px;
    }
    to {
        width: 59px;
        height: 59px;
    }
}

.chatbot-container.open.close-chatbox {
    animation-name: collapse-chat-window;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.chatbot-header {
    background-color: #f2f6fc;
    color: black;
    font-weight: bold;
    margin: -10px -10px 0px -10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.chatbot-minimize-btn {
    border: none;
    background: transparent;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    line-height: 0px;
}

.chatbot-sent-message, .chatbot-received-message {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    position: relative;
    max-width: max-content;
    border-radius: 5px;
    white-space: pre-wrap;
}

.chatbot-sent-message {
    background-color: gainsboro;
    margin-left: 15px;
    align-self: flex-end;
}

.chatbot-sent-message::after {
    content: '';
    display: block;
    bottom: 0px;
    right: -6px;
    position: absolute;
    width: 20px; 
    height: 10px;
    background: gainsboro;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    transform: rotate(17deg);
    z-index: -1;
}

.chatbot-received-message::before {
    content: '';
    display: block;
    bottom: 0px;
    left: -6px;
    position: absolute;
    width: 20px; 
    height: 10px;
    background: gainsboro;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    transform: scale(-1, 1) rotate(17deg);
    z-index: -1;
}

.chatbot-received-message {
    background-color: gainsboro;
    margin-right: 15px;
}

.chatbot-body {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

.chatbot-body::-webkit-scrollbar {
    width: 3px;
}

.chatbot-body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.chatbot-body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}

@keyframes chatbot-body-cover-disolve {
    to {
        transform: translateX(100%);
    }
}

.chatbot-body-cover {
    margin-left: -10px;
    margin-right: -10px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f6fc;
    z-index: 3;
    animation-name: chatbot-body-cover-disolve;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1, 0, 0.68, -0.04);
}

.chatbot-footer {
    padding-top: 10px;
    border-top: 1px solid gainsboro;
}

.my-boards {
    border: 2px solid gainsboro;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 20px;
    width: 364px;
    height: 254px;
    overflow: hidden;
}

.my-boards::-webkit-scrollbar {
    width: 3px;
}

.my-boards::-webkit-scrollbar-thumb {
    background: rgba(37, 148, 240, 0.8);
    border-radius: 5px;
}

.section-outer-container {
    position: relative;
    display: inline-block;
}

.board-thumb {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 100px;
    padding: 10px;
    color: gray;
    border-radius: 10px;
}

.board-thumb.add-board {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    line-height: 0px;
}

.board-thumb-holder > .board-thumb.add-board {
    transform: rotateY(0deg);
    transition: all 0.5s linear;
}

.board-thumb-holder:hover > .board-thumb.add-board {
    transform: rotateY(180deg);
    transition: all 0.5s linear;
}

.board-thumb-holder .create-icon {
    transition: all 0.5s linear;
    opacity: 1;
}

.board-thumb-holder .hidden-create-text {
    transition: all 0.5s linear;
    opacity: 0;
}

.board-thumb-holder:hover .create-icon {
    transition: all 0.5s linear;
    opacity: 0;
}

.board-thumb-holder:hover .hidden-create-text {
    transition: all 0.5s linear;
    opacity: 1;
}

.hidden-create-text {
    font-size: 12px;
    white-space: pre-wrap;
    opacity: 0;
    text-align: center;
    line-height: normal;
    transform: scaleX(-1);
    position: absolute;
    max-width: 100px;
}

.grid-section-header {
    position: absolute;
    top: -15px;
    left: 15px;
    background: white;
    padding: 0px 5px;
}

.outer-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.site-layout-container {
    display: grid;
    grid-template-columns: 200px 1fr 15px;
    grid-template-rows: 50px 1fr 15px;
    grid-template-areas:
    "site-icon top-header"
    "left-navigation site-body";
    /* border: 1px solid red; */
    min-height: 100vh;
}

.site-icon {
    grid-area: site-icon;
    /* justify-self: center; */
    align-self: center;
    padding-left: 36px;
    font-weight: bold;
    font-size: 20px;
    /* line-height: 0px; */
}

.top-header {
    grid-area: top-header;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: auto;
}

.left-navigation {
    grid-area: left-navigation;
    border-right: 2px solid gainsboro;
    border-top: 2px solid gainsboro;
}

.site-body {
    grid-area: site-body;
    border-top: 2px solid gainsboro;
    background-color: #ffffff;
    /* border-radius: 16px; */
}

.left-nav-list {
    list-style-type: none;
}

.left-nav-list > li {
    border-radius: 100px;
    margin-right: 10px;
    padding: 3px 8px;
}

.left-nav-list > li.navigable-item:hover {
    background-color: #e6e7ea;
    cursor: pointer;
}

.left-nav-list > li.navigable-item.selected {
    background-color: #c2e7ff;
}

.left-nav-list > li.navigable-item.selected:hover {
    background-color: #c2e7ff;
    cursor: default;
}

.search-box {
    display: inline-block;
}

.profile-icon {
    width: 38px;
    height: 38px;
    background-color: gray;
    border-radius: 100px;
    justify-self: right;
    align-self: center;
    overflow: hidden;
}

.profile-icon > img {
    width: 38px;
    height: 38px;
    border-radius: 100px;
}

.boards-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.boards-list-item {
    height: 50px;
    cursor: default;
    background-color: #f2f6fc;
    text-overflow: ellipsis;
    display: flex;
    align-content: center;
    width: 100%;
    padding: 0px 10px;
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-rows: auto;
    align-items: center;
}

.boards-list-item:hover {
    background-color: rgb(225, 229, 234);
}

.boards-list-item > .board-name {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10px;
}

.board-context-menu {
    position: absolute;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    border-radius: 10px;
    z-index: 6;
    /* top: calc(100% - 20px);
    left: calc(100% - 20px); */
    white-space: nowrap;
    padding: 10px 0px;
}

.board-context-menu-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: relative;
}

.board-context-menu-list > li {
    padding: 0px 10px;
}

.board-context-menu-list > li:hover {
    background: #e6e7ea;
    cursor: pointer;
}

.board-context-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.boards-list-item-selected {
    background-color: #c2e7ff !important;
}

.new-wb-btn {
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    padding: 5px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.2s ease;
    margin-left: -3px;
}

.new-wb-btn:hover {
    background-color: #edf1fa;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    transition: all 0.2s ease;
}

.nav-item-icon {
    margin-right: 5px;
}

.context-item-icon {
    margin-right: 5px;
}

.options-icon {
    width: 25px;
    height: 25px;
    padding: 5px;
    justify-self: center;
    border-radius: 100px;
}

.options-icon:hover {
    background-color: hwb(213 88% 35%);
    transition: all 0.3s ease;
    cursor: pointer;
}

.options-icon-content {
    width: 15px;
    height: 15px;
    background-image: radial-gradient(circle, black 1px, transparent 2px);
    background-size: 100% 33.33%;
}

.public-dashboard-container {
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.public-dashboard-background {
    overflow: hidden;
}

.public-dashboard-background > img {
    height: 100vh;
    width: 100vw;
}

.login-and-register-forms {
    justify-self: center;
    align-self: center;
}

.share-board-list-item {
    display: grid;
    grid-template-columns: 1fr 120px 120px;
    white-space: nowrap;
    align-items: center;
}

.share-board-type-dropdown button {
    width: 100px;
}

.share-board-recipients-list > li {
    margin-top: 5px;
}

.share-board-recipients-list > li:first-child {
    margin-top: 10px
}

.share-board-recipient-email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.analytics-table, .chart-container {
    margin-top: 10px;
}

.no-boards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}